[package]
name = "gridiron"
version = "0.3.0"
authors = ["IronCore Labs <code at ironcorelabs.com>"]
repository = "https://github.com/IronCoreLabs/gridiron"
description = "Rust finite field library with fixed size multi-word values."
exclude = [ ".gitignore", "proptest-regressions/*" ]
readme = "README.md"
categories = ["cryptography", "wasm"]
license = "Apache-2.0"
keywords = ["finite", "field", "crypto", "math"]

[dependencies]
num-traits = "0.2"

[profile.test]
opt-level = 2
debug = 2
debug-assertions = true
incremental = true
overflow-checks = true

[dev-dependencies]
proptest = "0.8.7"
rand = "~0.5"
criterion = "0.2"

[features]
unstable = []

[profile.bench]
opt-level = 3

[[bench]]
name = "benchmark"
harness = false
