[package]
name = "gridiron"
version = "0.6.0"
edition = "2018"
authors = ["IronCore Labs <code at ironcorelabs.com>"]
repository = "https://github.com/IronCoreLabs/gridiron"
description = "Rust finite field library with fixed size multi-word values."
exclude = [ ".gitignore", "proptest-regressions/*" ]
readme = "README.md"
categories = ["cryptography", "wasm"]
license = "Apache-2.0"
keywords = ["finite", "field", "crypto", "math"]

[dependencies]
num-traits = "~0.2"
arrayref = "0.3.5"

[profile.test]
opt-level = 2
debug = 2
debug-assertions = true
incremental = true
overflow-checks = true

[dev-dependencies]
proptest = "0.9.4"
rand = "~0.6"
criterion = "0.2"

[features]
unstable = []

[profile.bench]
opt-level = 3

[[bench]]
name = "benchmark"
harness = false
